windows/visualstudio/x64
windows/visualstudio/Win32
windows/visualstudio/.vs
windows/starcraft/bwapi-data/*
windows/starcraft/characters/*
windows/starcraft/maps/*
windows/starcraft/*.exe
windows/starcraft/*.snp
windows/starcraft/*.bat
windows/starcraft/*.dll
windows/starcraft/*.ini
windows/starcraft/*.MPQ
windows/starcraft/*.mpq
windows/starcraftfull
*.sdf
*.suo
*.opensdf
*.dll
*.o
*.pd_
*.bwta
*.db
*.ipch
*.opendb
*.db-shm
*.db-wal
*.zip
*.iobj
*.ipdb
*.map
*.pdb
*.ilk
*.ERR
windows/bin/StarterBot_d.exe
bin/StarterBot_d.exe
windows/bin/ReplayData.txt
windows/bin/ReplayParser.exe
windows/bin/RunReplayParserAndStarcraft.bat
