visualstudio/x64
visualstudio/Win32
visualstudio/.vs
starcraft/bwapi-data/*
starcraft/characters/*
starcraft/maps/*
starcraft/*.exe
starcraft/*.snp
starcraft/*.bat
starcraft/*.dll
starcraft/*.ini
starcraft/*.MPQ
starcraft/*.mpq
starcraft/Errors
starcraftfull
*.sdf
*.suo
*.opensdf
*.dll
*.o
*.pd_
*.bwta
*.db
*.ipch
*.opendb
*.db-shm
*.db-wal
*.zip
*.iobj
*.ipdb
*.map
*.pdb
*.ilk
*.ERR
bin/StarterBot.exe
bin/StarterBot_d.exe
bin/ReplayData.txt
bin/ReplayParser.exe
bin/RunReplayParserAndStarcraft.bat
bin/replaydata
# Linux
bin_linux/src
!libgcc_s_seh-1.dll
!libstdc++-6.dll
